<title>Главная</title>

<h1>Главная страница</h1>
<div>
    <a asp-controller="MainPage" asp-action="GoApplications">О приложении</a>
</div>
<div>
    <a asp-controller="MainPage" asp-action="GoContacts">Контакты</a>
</div>
<div>
    <a asp-controller="MainPage" asp-action="GoGoods">Посмотреть товары</a>
</div>
<div>
    <a asp-controller="MainPage" asp-action="GoWarehouse">Посмотреть склады</a>
</div>

    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
