<title>О приложении</title>
<h1>
    Страница о приложении
</h1>
<iframe  src="/doc/ТЗ для программиста C#.docx" class=flashbody scrolling="auto"></iframe>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers