<title>Информация о разработчике</title>
<div></div>

<head>
    <link rel="stylesheet" href="/css/template.css" type="text/css" />
    <SCRIPT type="text/javascript" src="/js/JavaScript.js"></SCRIPT>
    <script type="text/javascript" src="/js/popup_img.js"></script>
</head>

<body>
    <div>
        <img src="/images/Photo.jpg" class="image">
    </div>
</body>

<body>
        <div>ФИО: Антонов Павел Андреевич</div>
        <div>Телефон: 89028896590(Теле2)</div>
        <div>Адрес электронной почты: lumen3313@rambler.ru</div>
        <div>Дополнительные контакты: Whatsup(по номеру телефона), TM: SadDexx</div>
</body>

<a class="print-doc" href="javascript:(print());"> <img src="/images/Print.jpg" height = 50
	width = 50 alt="Распечатать"> Распечатать</a>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
